* {
    box-sizing: border-box;
}

#welcome {
    display: flex;
    max-width: auto;
    max-height: 900px;
    min-width: 765px;
    margin: 0px 100px 125px 100px;
    padding: 20px;
    border: 1px solid rgba(94, 94, 94, 0.7);
}

.textcontainer, .gallery {
    display: flex;
    max-height: 1920;
    text-align: justify;
}

.RightSideTextContainer, .LeftSideTextContainer {
    max-width: auto;
    min-width: 400px;
    font-size: 25px;
}

.RightSideTextContainer {
    margin: 0px 0px 0px 25px;
}

.LeftSideTextContainer {
    margin: 0px 25px 0px 0px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    max-height:600px;
    min-width: 300px;
    min-height: 300px; 
}

.galleryimg {
    display: block;
    max-width: 100%;
    max-height: 100%;
    
}

.sections h1{
    text-align: center;
    font-size: 50px;
}